@import '../../../../../src/lib/style/common-imports';
@import '../../../../../src/lib/style/icons.mixin';
@import './table.mixin';

:host::ng-deep [data-row-drag-enabled='true'] {
  .ag-icon-grip {
    display: block;
    @include ag-icon('drag-alt', $color: light, $margin: null, $size: medium);
    margin-left: -1px;
    margin-right: 10px;
    cursor: grab;
  }

  .ag-row-hover .ag-icon-grip {
    @include icon-color(normal, $hover: false);
  }

  .ag-row-dragging.ag-row-focus {
    pointer-events: none;

    & > * {
      @include disabled-state;
    }
  }

  &[data-row-is-dragged='true'] {
    .ag-row-no-focus {
      &:hover,
      &.ag-row-hover {
        box-shadow: 0 -1px 0 0 $grey-700;
      }
    }

    .ag-row-dragging ~ .ag-row-no-focus {
      &:hover,
      &.ag-row-hover {
        box-shadow: 0 1px 0 0 $grey-700;
        border-bottom-color: transparent;
      }
    }
  }
}

::ng-deep .ag-dnd-ghost {
  background: $white;
  border-radius: 2px;
  box-shadow: none;
  padding: 4px;
  border: 1px solid $border-color;
  font-weight: 600;
  font-size: 12px;
  height: 32px !important;
  line-height: 32px;
  margin: 0;
  padding: 0 8px;
  transform: translateY(8px);
  pointer-events: none;
}
