$table-padding-x: 15px;

@mixin cell() {
  text-align: left;
  padding: 0 $table-padding-x;
  color: $grey-700;
  width: 100%;
  display: flex;
  align-items: center;
  min-width: $table-padding-x * 2 + $b-checkbox-size;

  &:focus {
    outline: none;
  }

  &[class*='b-icon'] {
    &:before {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@mixin cell-border($align: center) {
  background-image: linear-gradient($border-color, $border-color);
  background-size: 1px 30px;
  background-position: $align;
}

@mixin ag-icon($icon, $color: dark, $margin: 5px, $size: small) {
  margin-right: $margin;
  background: none;
  @include b-icon($icon: $icon, $size: $size, $color: $color, $hover: false);
  cursor: pointer;

  &:before {
    height: inherit;
  }
}
