@import '../../../../../src/lib/style/common-imports';
@import '../../../../../src/lib/style/icons';

$min-table-height: 140px;

@mixin cell($height: auto) {
  text-align: left;
  padding: 0 15px;
  color: $grey-700;
  height: $height;
  display: block;
  width: 100%;

  &:focus {
    outline: none;
  }

  &[class*='b-icon'] {
    &:before {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

:host {
  --max-height: 450px;
  min-height: $min-table-height;
  display: block;
}

:host ::ng-deep {
  ag-grid-angular {
    display: block;
    width: 100%;
    height: 100%;
    max-height: var(--max-height);
    visibility: hidden;

    &.grid-ready {
      visibility: visible;
    }

    &.secondary {
      .ag-root {
        border-radius: 0;
        border-left: none;
        border-right: none;
      }
    }
  }

  .ag-root-wrapper-body.ag-layout-normal {
    height: auto;
    overflow: hidden;
  }

  .ag-root {
    background-color: white;
    border: 1px solid $grey-500;
    border-radius: 4px;
    max-height: var(--max-height);
    min-height: $min-table-height;
  }

  .ag-header {
    background-color: white;
    border-bottom: 1px solid $grey-300;
    font-weight: $font-weight-bold-body;

    .ag-header-row {
      display: flex;
    }

    .ag-header-cell {
      @include cell(null);
      display: flex;
      align-items: center;
      cursor: default;
    }

    .ag-cell-label-container {
      flex-grow: 1;
      min-width: 0;
      cursor: pointer;
      height: 100%;
    }

    .ag-header-cell-label {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .ag-header-cell-text {
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .ag-header-cell-resize {
      right: -3px;
      width: 5px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        height: 30px;
        top: 50%;
        transform: translateY(-50%);
        right: 50%;
        border-left: 1px solid $grey-500;
      }
    }

    .ag-header-icon {
      display: flex;
      margin-left: 2px;
      opacity: 0.73;
    }

    .ag-icon-asc {
      margin-top: -2px;
    }
  }

  .ag-center-cols-container {
    min-width: 100%;
  }

  .ag-row {
    transition: none;
    border-bottom: 1px solid $grey-300;
    display: flex;
    align-items: center;

    &.ag-row-hover {
      background-color: $grey-100;
    }

    &.ag-row-selected {
      background-color: $color-option-selected;
    }

    .ag-cell {
      @include cell;

      &.row-select {
        position: relative;
        height: 100%;
        display: flex;
        align-content: center;

        .ag-cell-wrapper,
        .ag-selection-checkbox {
          display: flex;
        }

        .ag-icon:after {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 0;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &.row-clickable {
      cursor: pointer;
    }
  }

  .ag-overlay {
    height: 69px;
    top: 56px;
    .ag-overlay-no-rows-center {
      @include b-display-3($color: $grey-500);
    }
  }
}

// column remove (x) button

:host ::ng-deep .remove-column-button {
  .ag-header-viewport {
    .ag-header-cell {
      @include b-icon($icon: 'close', $size: small, $elem: '&:hover:after');

      &:hover:after {
        font-size: 14px;
        text-align: right;
        color: black;
        font-weight: 600;
        cursor: pointer;
        margin-right: -6px;
      }
    }
  }
}
