@import '../../../../../src/lib/style/common-imports';

$min-table-height: 140px;

@mixin cell {
  text-align: left;
  padding: 0 15px;
  color: $grey-700;
  height: auto;
  display: block;
  width: 100%;
  &:focus {
    outline: none;
  }
  &[class*='b-icon'] {
    &:before {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

:host {
  --max-height: 450px;
  min-height: $min-table-height;
  display: block;
}

:host ::ng-deep {
  ag-grid-angular {
    display: block;
    width: 100%;
    height: 100%;
    max-height: var(--max-height);
    visibility: hidden;
    &.grid-ready {
      visibility: visible;
    }
    &.secondary {
      .ag-root {
        border-radius: 0;
        border-left: none;
        border-right: none;
      }
    }

    .ag-root-wrapper-body.ag-layout-normal {
      height: auto;
      overflow: hidden;
    }

    .ag-root {
      background-color: white;
      border: 1px solid $grey-500;
      border-radius: 4px;
      max-height: var(--max-height);
      min-height: $min-table-height;

      .ag-header {
        background-color: white;
        border-bottom: 1px solid $grey-300;
        font-weight: $font-weight-bold-body;
        .ag-header-row {
          display: flex;
          align-items: center;
        }
        .ag-header-cell {
          @include cell;
          .ag-header-cell-resize {
            right: -3px;
            width: 5px;
            &:before {
              content: '';
              display: block;
              position: absolute;
              height: 30px;
              top: 50%;
              transform: translateY(-50%);
              right: 50%;
              border-left: 1px solid $grey-500;
            }
          }
        }
      }

      .ag-center-cols-container {
        min-width: 100%;
      }
      .ag-row {
        transition: none;
        border-bottom: 1px solid $grey-300;
        display: flex;
        align-items: center;
        &.ag-row-hover {
          background-color: $grey-100;
        }
        &.ag-row-selected {
          background-color: $color-option-selected;
        }
        .ag-cell {
          @include cell;
          &.row-select {
            position: relative;
            height: 100%;
            display: flex;
            align-content: center;
            .ag-cell-wrapper,
            .ag-selection-checkbox {
              display: flex;
            }
            .ag-icon:after {
              content: '';
              position: absolute;
              display: block;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              z-index: 0;
            }
          }
        }
        &:last-child {
          border-bottom: none;
        }
        &.row-clickable {
          cursor: pointer;
        }
      }

      .ag-overlay {
        height: 69px;
        top: 56px;
        .ag-overlay-no-rows-center {
          @include b-display-3($color: $grey-500);
        }
      }
    }
  }

}
