@import '../../../../../src/lib/style/common-imports';
@import '../../../../../src/lib/style/icons.mixin';
@import './table.mixin';

$table-header-height: 57px;
$table-row-height: 56px;
$table-overlay-height: 86px;
$min-table-height: $table-header-height + $table-overlay-height + times8(3) * 2;

:host {
  --max-height: #{$table-row-height * 6};
  display: grid;
  overflow: hidden;

  &.preloading {
    min-height: $min-table-height !important;
    display: grid !important;
  }
}

:host ::ng-deep {
  ag-grid-angular,
  .ag-root {
    max-height: var(--max-height);
    will-change: max-height;
  }

  ag-grid-angular {
    min-height: 0;
    flex-grow: 1;
  }

  b-pager {
    flex-grow: 0;
  }

  ag-grid-angular {
    display: block;
    width: 100%;
    grid-row-start: 1;
    grid-column-start: 1;

    &,
    .ag-root-wrapper,
    .ag-center-cols-container {
      overflow: hidden;
    }

    .ag-center-cols-viewport {
      @include hide-scrollbar;
    }
  }

  .ag-root,
  .grid-empty-state {
    background-color: white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }

  .ag-root-wrapper-body.ag-layout-normal {
    height: auto;
    overflow: hidden;
  }

  .ag-header {
    background-color: white;
    border-bottom: 1px solid $border-color-light;
    font-weight: $font-weight-bold-body;

    .ag-header-row {
      display: flex;
      overflow: visible;
    }

    .ag-header-cell {
      @include cell;
      display: flex;
      align-items: center;
      cursor: default;
      overflow: visible;
    }

    .ag-header-cell-sortable .ag-header-cell-label {
      cursor: pointer;
    }

    .ag-cell-label-container {
      flex-grow: 1;
      min-width: 0;
      height: 100%;
    }

    .ag-header-cell-label {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .ag-header-cell-text {
      min-width: 0;
      white-space: normal;
      @include line-clamp(2, $useCssVars: true);
    }

    .ag-header-cell-resize {
      right: -2px;
      width: 5px;
      cursor: move;
      @include cell-border;
    }

    .ag-header-icon {
      display: flex;
      margin-left: 2px;
    }

    .ag-icon-asc,
    .ag-icon-desc {
      @include b-icon($icon: 'arrow-left-alt', $size: 14px) {
        font-weight: bold;
      }
    }

    .ag-icon-asc {
      transform: rotate(-90deg);
      margin-bottom: -1px;
    }

    .ag-icon-desc {
      transform: rotate(90deg);
    }
  }

  .ag-center-cols-container {
    min-width: 100%;
  }

  .ag-row {
    transition: none;
    border-bottom: 1px solid $border-color-light;
    display: flex;
    align-items: center;

    .ag-cell {
      @include cell;

      &[role='presentation'] {
        overflow: visible;
      }

      &.text-cell {
        display: block;
        height: auto;
      }

      &.multi-line-text-cell {
        display: block;
        height: auto;
        white-space: normal;
        overflow-wrap: break-word;
        hyphens: auto;
      }

      &[style*='max-width'] {
        max-width: none !important;
      }

      &.row-select {
        position: relative;
        height: 100%;
        display: flex;
        align-content: center;
        min-width: 46px;
        max-width: 46px;

        .ag-cell-wrapper,
        .ag-selection-checkbox {
          display: flex;
        }

        .ag-icon:after {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 0;
        }
      }
    }

    .ag-group-value {
      padding: 2px 0;
    }

    &.ag-row-last {
      border-bottom: 0;
      // box-shadow: 0px 1px 0 0 $border-color-light;
    }

    &.row-clickable {
      cursor: pointer;
    }

    &.ag-row-selected {
      background-color: $color-select-yellow;
    }
  }

  .ag-body-viewport,
  .ag-body-horizontal-scroll-viewport,
  .ag-body-horizontal-scroll-container {
    @include always-visible-scrollbar($margin: 0, $track-color: black(0.05));
  }

  .ag-body-horizontal-scroll-viewport + .ag-horizontal-right-spacer {
    background-color: black(0.05);
  }
}

// column remove (x) button

:host ::ng-deep .remove-column-button {
  .ag-header-viewport {
    .ag-header-cell {
      @include b-icon(
        $icon: 'circle-cancel',
        $size: small,
        $elem: '&:hover:after',
        $hover: false
      ) {
        text-align: right;
        cursor: pointer;
        margin-right: -6px;
      }
    }
  }
}

// empty state

:host::ng-deep {
  ag-grid-angular.empty,
  ag-grid-angular.empty .ag-root {
    min-height: $min-table-height;
  }

  .grid-empty-state {
    min-height: $min-table-height;
    grid-row-start: 1;
    grid-column-start: 1;
    background-image: linear-gradient($border-color-light, $border-color-light);
    background-size: 100% 1px;
    background-position: left 0 top ($table-header-height - 1px);

    padding: times8(3);

    & > :first-child {
      padding-top: $table-header-height;
    }
  }

  ag-grid-angular:not(.empty) ~ .grid-empty-state {
    b-button {
      display: none;
    }
  }
}

// style options

:host[data-type='secondary']::ng-deep {
  .ag-root,
  .grid-empty-state {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}

:host[data-type='tertiary']::ng-deep {
  .ag-root,
  .grid-empty-state {
    border-radius: 0;
    border: 0;
  }
}

[data-column-borders='true'] ::ng-deep {
  .ag-center-cols-viewport {
    .ag-cell {
      border-right: 1px solid $border-color-light;

      &:last-child {
        border-right: 0;
      }
    }
  }
}

[data-row-hover='true'] ::ng-deep {
  .ag-row.ag-row-hover {
    background-color: $color-option-hover-solid;
  }
}

[hidden] {
  display: block;
  visibility: hidden !important;
}
