@import './../../../../../src/lib/style/common-imports';
@import './../../../../../src/lib/style/icons.mixin';
@import './table.mixin';

$toolpanel-indent-size: 35px;

:host ::ng-deep .tree-table {
  .ag-cell-wrapper.ag-row-group {
    align-items: inherit;
  }

  .ag-row-animation .ag-row {
    transition: transform 0.4s, top 0.4s, height 0.4s, background-color 0.1s,
    opacity 0.2s;
  }

  @for $i from 1 to 50 {
    .ag-ltr .ag-row-group-indent-#{$i} {
      padding-left: $i * $toolpanel-indent-size;
    }
  }

  .ag-menu {
    background: gray;
  }

  .ag-icon {
    display: block;
    &.ag-icon-contracted {
      @include ag-icon('chevron-right');
    }

    &.ag-icon-expanded {
      @include ag-icon('chevron-down');
    }
  }

  &.tree-no-collapse {
    .ag-icon {
      display: block;
      &.ag-icon-contracted, &.ag-icon-expanded {
        display: none;
      }
      }
    .ag-center-cols-clipper {
      .ag-row[role="row"] :first-child {
        pointer-events: none;
      }
      .ag-row:not(.ag-row-level-0) {
        :first-child {
          .ag-cell-wrapper {
            margin-left:  times8(-3);

          }
          .ag-group-value {
            @include ag-icon('arrow-dir-right');
            &:before {
              display: inline-block;
              vertical-align: middle;
              color: $grey-600;
              transform: translateY(-3px);
              margin-right: 10px;
            }
          }
        }
      }
    }
    .ag-icon {
      &.ag-icon-contracted, &.ag-icon-expanded {
      }
    }
  }

  .ag-cell .ag-group-expanded,
  .ag-cell .ag-group-contracted {
    &:before {
      content: '';
      @include position(0 0 0 0);
      cursor: pointer;
    }
  }

  .ag-header-icon.ag-header-cell-menu-button {
    display: none;
  }

  .ag-header-viewport .ag-header-cell:not(.ag-header-cell-sortable) {
    @include cell-border(right center);

    &:after {
      display: none !important;
    }
  }
  [class*="ag-row-group-indent-"] {
    display: flex;
  }
}
