@import '../../../src/lib/style/common-imports';
@import '../rte/rte.mixin';

:host ::ng-deep {
  display: block;
  text-align: left;

  a {
    @include b-link;
  }

  [mention-employee-id] {
    color: var(--primary-500);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  [data-placeholder-id] {
    padding: 0;

    &:before,
    &:after {
      display: none;
    }
  }
}

:host {
  @include mobile($breakpoint-device-lg) {
    line-height: $line-height-body;
  }

  &.b-big-body {
    --rte-font-size-small: 90%;
    --rte-font-size-normal: #{$font-size-big-body};
  }

  &.b-bold-body {
    font-weight: $font-weight-bold-body;
  }
}

:host[data-type='shoutout'] ::ng-deep {
  word-break: break-word;
  font-family: var(--display-font-family);
  --rte-font-size-normal: #{$font-size-big-body};
  --rte-font-size-small: 90%;
  --rte-font-size-xlarge: var(--rte-font-size-large);

  @include mobile($breakpoint-device-lg, $mobile-media-width) {
    --rte-font-size-normal: #{resp-val(
        $min-width: $mobile-media-width,
        $max-width: $breakpoint-device-lg,
        $min-val: $font-size-big-body,
        $max-val: $font-size-display-4
      )};
  }

  @include desktop($breakpoint-device-lg) {
    --rte-font-size-normal: #{$font-size-display-4};
  }

  .empty-line {
    line-height: 1.2;
  }

  @include mobile($breakpoint-device-lg) {
    .empty-line {
      line-height: 1;
    }
  }

  ul,
  ol {
    line-height: inherit;

    @include desktop($breakpoint-device-lg) {
      margin: 10px 0;

      li {
        margin: 4px 0;
      }

      & + .empty-line {
        margin-top: -10px;
      }
    }
  }

  .empty-line {
    & + ul,
    & + ol {
      margin-top: 0;
    }
  }

  [data-placeholder-id] {
    vertical-align: middle;

    @include responsive-font(
      $min-width: $mobile-media-width,
      $max-width: $breakpoint-device-lg,
      $min-val: $font-size-body,
      $max-val: $font-size-big-body
    );
  }

  a {
    color: var(--primary-500);
  }
}

:host[data-type='inlineHtml'] ::ng-deep {
  @include inline-html;
}
