@import '../../../src/lib/style/common-imports';

:host {
  display: block;
  text-align: left;
  min-width: 250px;
  width: 100%;

  @include form-element-margins;
}

.bfe-label {
  @include bFormElement-label;
}

:host.required {
  .bfe-label {
    @include input-required;
  }
}

:host.disabled {
  @include disabled-state;
}
