<b-form-element-label *ngIf="label && !hideLabelOnFocus"
                      class="bfe-label"
                      [label]="label"
                      [description]="description"
                      [fieldId]="id">
</b-form-element-label>

<div class="bfe-wrap"
     [id]="id"
     [ngClass]="{focused: inputFocused}"
     [ngStyle]="{'min-height': minHeight ? minHeight + 'px' : null}">
  <div #editor
       class="brte-wrap"
       [froalaEditor]="options"
       [(froalaModel)]="editorValue"></div>

  <b-single-select-panel *ngIf="!disabled && placeholdersEnabled()"
                         #placeholderPanel
                         class="placeholder-select"
                         [options]="placeholderList"
                         [panelClass]="'placeholder-panel'"
                         [hasArrow]="false"
                         [panelPosition]="plchldrPanelPosition"
                         (selectChange)="addPlaceholder($event)"
                         (closed)="onPlaceholderPanelClose()">
    <b-square-button class="placeholder-panel-trigger"
                     [ngClass]="{ focused: plchldrPnlTrgrFocused }"
                     [type]="buttonType.tertiary"
                     [size]="buttonSize.small"
                     [icon]="icons.placeholder_add"
                     [color]="iconColor.normal"
                     [matTooltip]="('bob-style.rte.add-variable' | translate)"
                     (clicked)="onPlaceholderPanelOpen()">
    </b-square-button>
  </b-single-select-panel>
</div>

<p b-input-message
   *ngIf="hintMessage || warnMessage || errorMessage || (showCharCounter && (minChars || maxChars))"
   [hintMessage]="hintMessage"
   [warnMessage]="warnMessage"
   [errorMessage]="errorMessage"
   [disabled]="disabled"
   [minChars]="showCharCounter && minChars"
   [maxChars]="showCharCounter && maxChars"
   [length]="length">
</p>
