@mixin inline-html {
  br {
    display: none;
  }

  div,
  p,
  ul,
  ol,
  li {
    display: inline;
  }

  ul,
  ol {
    padding: 0;
  }

  li {
    &:before {
      content: '• ';
      font-size: 110%;
    }
  }

  div,
  li,
  ul,
  ol {
    &:not(:first-child) {
      margin-left: 4px;
    }
  }
}
