@import '../../../../src/lib/style/common-imports.scss';

:host {
  display: block;
}

::ng-deep {
  .highcharts-root,
  .highcharts-tooltip > span {
    font-family: var(--body-font-family) !important;
  }

  .chart-tooltip {
    text-align: center;
    font-family: var(--body-font-family);
  }

  .highcharts-tooltip > span {
    color: $body-text-color;

    .chart-tooltip {
      .value,
      .key {
        font-size: 11px;
      }
      .value {
        font-weight: 600;
      }
      .key {
        font-weight: 400;
      }
    }
  }
}
