<ag-grid-angular #agGrid
                 [ngClass]="{
                  'grid-ready': gridReady,
                  'secondary': type === tableType.Secondary,
                  'tertiary': type === tableType.Tertiary,
                  'remove-column-button': removeColumnButtonEnabled,
                  'empty-table': !rowData || !rowData.length,
                  'no-column-defs': !gridColumnDefs
                  }"
                 [class]="_externalClasses"
                 [rowData]="rowData"
                 [columnDefs]="gridColumnDefs"
                 [animateRows]="false"
                 [gridOptions]="gridOptions"
                 (rowClicked)="onRowClicked($event)"
                 (selectionChanged)="onSelectionChanged($event)"
                 (sortChanged)="onSortChanged($event)">
</ag-grid-angular>
