<ag-grid-angular #agGrid
                 [ngClass]="{
                  'grid-ready': gridReady,
                  'secondary': type === tableType.Secondary,
                  'remove-column-button': removeColumnButtonEnabled,
                  'tree-table': !!treeConfig,
                  'empty-table': !rowData || !rowData.length,
                  'no-column-defs': !gridColumnDefs
                  }"
                 [treeData]="treeConfig.treeData"
                 [rowData]="rowData"
                 [columnDefs]="gridColumnDefs"
                 [animateRows]="false"
                 [gridOptions]="gridOptions"
                 [getDataPath]="treeConfig.getDataPath"
                 [groupDefaultExpanded]="treeConfig.groupDefaultExpanded"
                 (rowClicked)="onRowClicked($event)"
                 (selectionChanged)="onSelectionChanged($event)"
                 (sortChanged)="onSortChanged($event)">
</ag-grid-angular>
