<ag-grid-angular #agGrid
                 [ngClass]="{
                  'remove-column-button': removeColumnButtonEnabled,
                  'empty': !rowData?.length
                  }"
                 [class]="_externalClasses"
                 [rowData]="rowData"
                 [columnDefs]="gridColumnDefs"
                 [gridOptions]="gridOptions"
                 (rowClicked)="onRowClicked($event)"
                 (selectionChanged)="onSelectionChanged($event)"
                 (sortChanged)="onSortChanged($event)"
                 (rowDragEnter)="rowIsDragged=true"
                 (rowDragEnd)="rowIsDragged=false; onRowDragEnd($event)"
                 [attr.data-row-hover]="styleConfig?.disableRowHoverBgColor ? false : true"
                 [attr.data-column-borders]="styleConfig?.showColumnBorders ? true : null"
                 [attr.data-row-drag-enabled]="rowDragEnabled || null"
                 [attr.data-row-is-dragged]="rowIsDragged || null"
                 [hidden]="isEmpty()">
</ag-grid-angular>

<b-pager *ngIf="enablePager && pagerState && !isEmpty()"
         [items]="pagerState.totalItems"
         [currentPage]="pagerState.currentPage"
         [config]="pagerConfig"
         (pageChange)="paginationGoToPage($event)"
         (sliceSizeChange)="paginationPageSizeChange($event)"
         class="mrg-t-16">
</b-pager>

<b-empty-state *ngIf="isEmpty()"
               [config]="emptyStateConfig"
               class="grid-empty-state ag-root pad-32"></b-empty-state>
