@import url('https://fonts.hibob.com/711981/6BB487842DE6FD43C.css');

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
  padding: 30px;
  font-size: 14px;
}
